* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #ececec;
  height: 100%;
  font-family: "Averta", "Avenir W02", "Avenir", Helvetica, Arial, sans-serif;
}

.container {
  min-height: 100%;
}

.form-container {
  background-color: #f7f7f7;
}

.form-container .one-request {
  border: 1px solid 00B9F2;
  margin: 1rem;
  padding: 1rem,
}

.removeInputButton {
  padding: 1rem;
  color: #ffffff;
  background: #F44336;
}

.addInputButton {
  padding: 1rem;
  color: #ffffff;
  background: #03A9F4;
}

.submitInputButton {
  margin: 2rem;
  padding: 2rem;
  color: #ffffff;
  background: #4CAF50;
}

.form-message-container {
  margin: 1.2rem auto;
  padding: 1rem;
  border-radius: 4px;
  letter-spacing: .7px;
  width: 60%;
}

.message-details {
  padding-top: 0.1rem;
  font-size: 1.03rem;
  color: black;
}

.container-error-page {
  border: 1px solid #ff000059;
  background-color: #ce11260d;
}

.container-success-page {
  border: 1px solid #2d84227d;
  background-color: #11ce160d;
}

.message-title {
  text-align: center;
  color: #293238ad;
  margin-bottom: 1.5rem;
}

.remove-message {
  border: none;
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.remove-message:hover {
  color: #293238ad;
} 
.close {
  display: none;
}
